version: "3"

networks:
  app-tier:
    driver: bridge

services:
  kafka:
    image: bitnami/kafka:3.6
    ports:
      - "9092:9092"
    networks:
      - app-tier
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    depends_on:
      - zookeeper

  zookeeper:
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    networks:
      - app-tier
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

# Access the container bash
# docker exec -it ecommerce-kafka-1 /bin/bash
# ----------------------------------------------------
# List all topics
# docker exec -it container_kafka /opt/kafka/bin/kafka-topics.sh --list --zookeeper localhost:2181
# Create a topic
# docker exec -it container_kafka /opt/kafka/bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic topic_name
